* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, 
body {
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
}


/* UTILITIES */
.p-absolute {
    position: absolute;
}

.p-relative {
    position: relative;
}

.p-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}


/* background  */
body {
    background-image: url(../img/coffee.jpg);
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}


.container-app {
    background-color: rgb(83, 77, 74, .8);
    width: 1000px;
    margin-top: 100px;
    margin-left: 100px;
    border-radius: 20px;
}

/* APP */
#app {
    color: rgb(243, 243, 243);
    width: 100%;
}


/* TITLE */
.title {
    margin: auto;
    padding-top: 20px;
    font-size: 30px;
    font-weight: 700;
}

/* TEXT-BAR / SUBMIT BTN */
.container-app .text-bar {
    margin: 20px auto 20px;
}

.container-app .text-bar input {
    width: 400px;
}