* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, 
body {
    height: 100%;
}
  
.bg {
    background-image: url(../img/coffee.jpg);
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}