* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, 
body {
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
}


/* UTILITIES */
.p-absolute {
    position: absolute;
}

.p-relative {
    position: relative;
}

.p-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}


/* background  */
body {
    background-image: url(../img/coffee.jpg);
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}


.container-app {
    background-color: rgb(83, 77, 74, .8);
    width: 1000px;
    margin-top: 100px;
    margin-left: 100px;
    border-radius: 20px;
}

/* APP */
#app {
    color: rgb(243, 243, 243);
    width: 100%;
}


/* TITLE */
.title {
    /* margin: auto; */
    margin-left: 50px;
    padding-top: 20px;
    font-size: 25px;
    font-weight: 500;
}

/* TEXT-BAR / SUBMIT BTN */
.container-app .text-bar {
    margin: 30px 50px 20px;
}

.container-app .text-bar input {
    width: 80%;
    border-radius: 5px 0px 0px 5px;
    border: none;
    height: 30px;
}


.container-app .text-bar button {
    border-radius: 0px 5px 5px 0px;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    border: none;
    background-color: #8b5d4d;
    color: #f3dcc1;
    font-weight: 700;
    transition: transform .2s;
}

.container-app .text-bar button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* TODO LIST */

.container-app .todo {
    margin: 30px 50px;
    width: 80%;
}

.container-app .todo .todo-list {
    width: 100%;
}

.container-app .todo .todo-list li {
    justify-content: space-between;
    align-self: center;
    margin-bottom: 5px;
    /* width: 80%; */
    border-color: rgba(0, 0, 0, .7);
}

.container-app .todo .todo-list h3 {
    padding: 10px 0px;
    align-self: center;
    font-size: 18px;
    width: 900px;
    border-bottom: 1px solid #412d27;
    text-transform: capitalize;
    
}

.container-app .todo .todo-list i {
    padding: 10px;
    margin-left: 2px;
    border-radius: 0px 5px 5px 0px;
    transition: background-color .3s, transform .3s;
}

.container-app .todo .todo-list i:hover {
    cursor: pointer;
    background-color: #8b5d4d;
}
