<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <title>To-do list</title>
</head>
<body>
    <main>
        <div class="container-app p-flex">
            <div id="app" class="p-flex flex-column">
                <!-- titolo -->
                <div class="title">
                    <h2>
                        Have you got anything to do?
                    </h2>
                    <h2>
                        Remember it down here.
                    </h2>
                </div>
                
                <!-- inserimento -->
                <div class="text-bar">
                        <input type="text" placeholder="Tell me your objective" v-model="message" v-on:keyup.enter="addTodo"> 
                        <button class="btn" @click="addTodo">Add it</button>
                </div>

                <!-- lista -->
                <div class="todo" v-if="objectives.length > 0">
                    <ul class="todo-list">
                        <li v-for="(objective, index) in objectives" class="p-flex">
                            <h3 class="p-flex">{{objective}}</h3>
                            <i class="fas fa-trash" @click="removeTodo(index)"></i>
                        </li>
                    </ul>
                </div>
                <div v-else class="todo">
                    <h3 class="p-flex">There is always something to do...</h3>
                </div>
            </div>
        </div>
           


    </main>
    <script src="./js/main.js"></script>
</body>
</html>